<header class=".app-header">
  <div class="link-div">
    <a [routerLink]="[ '/home']" class="header-link">Home link</a>

    <ng-container *ngIf="isAuth | async else notAuth">
      <a [routerLink]="['/profile']" class="header-link">Profile</a>
    </ng-container>

    <ng-template #notAuth>
      <a [routerLink]="['/signin']" class="header-link">Sign in</a>

      <a [routerLink]="['/signup']" class="header-link">Sign up</a>
    </ng-template>
  </div>
</header>
