.conrainer
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 100%

.restore
  margin: 0 auto
  text-align: center
  box-sizing: border-box
  box-shadow: 0 0 5px grey
  border-radius: 5px
  width: 650px
  padding: 40px

  &__title
    margin-bottom: 50px
    font-size: 30px

  &__links
    margin: 20px
    margin-bottom: 0

  &__form
    display: flex
    flex-direction: column

  &__succesBtn
    width: fit-content
    margin: 30px auto
    padding: 10px 30px
    font-size: 20px
    text-transform: uppercase

@media screen and (max-width: 650px)
  .restore
      width: auto
      margin: 0 10px



