<div class="conrainer">
  <div class="restore">
    <div class="restore__formWrapper" *ngIf="!isSent">
      <h2 class="restore__title">Restore password</h2>
      <form
        [formGroup]="form"
        (ngSubmit)="resetPassword()"
        class="restore__form"
        novalidate
      >
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            email
          >
          <mat-icon matSuffix>email_outline</mat-icon>
          <mat-error
            *ngIf="email.errors"
            [ngSwitch]=getErrorKey(email.errors)
          >
            <ng-container *ngSwitchCase="'required'">
              Email is <strong>required</strong>
            </ng-container>
            <ng-container *ngSwitchCase="'email'">
              Email format doesn't match any format
            </ng-container>
            <ng-container *ngSwitchCase="'disabled'">
              This user is disabled
            </ng-container>
            <ng-container *ngSwitchCase="'notFound'">
              User not found
            </ng-container>
          </mat-error>
        </mat-form-field>
        <button
          class="restore__succesBtn"
          mat-raised-button color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Restore
        </button>
      </form>
      <div class="restore_links">
        <a
          class="restore__links"
          routerLink="/signin"
          mat-raised-button color="link"
        >
          I know credentials
        </a>
        <a
          class="restore__links"
          routerLink="/signup"
          mat-raised-button color="link"
        >
          I don’t have account
        </a>
      </div>
    </div>
    <div class="restore__succes" *ngIf="isSent">
      <h2 class="restore__title">Thank you</h2>
      <p>The letter was sent to your email address <strong>{{usersEmail}}</strong> to help you
        generate new password.</p>
      <div class="restore__succesBtns">
        <a
          class="restore__succesBtn"
          mat-raised-button
          color="primary"
          routerLink="/"
        >
          To main page
        </a>
      </div>
    </div>
  </div>
</div>

