<div class="signup-section">
  <mat-card class="signup-card">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <h2 class="title">Sign Up</h2>
      <p class="description">It's free and only takes a seconds</p>

      <mat-form-field>
        <input matInput placeholder="Email" required="required" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>

        <mat-error *ngIf="email.invalid" [ngSwitch]="getErrorCode(email.errors)">
          <ng-container *ngSwitchCase="'required'">
            Email is required.
          </ng-container>
          <ng-container *ngSwitchCase="'email'">
            Email format doesn’t match any standards.
          </ng-container>

          <ng-container *ngSwitchCase="'email_exist'">
            {{errorMessage}}
          </ng-container>
          <ng-container *ngSwitchCase="'invalid_email'">
            {{errorMessage}}
          </ng-container>
          <ng-container *ngSwitchCase="'operation_not_allowed'">
            {{errorMessage}}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <div formGroupName="passwordGroup" class="passwordGroup">
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            required="required"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          >
          <button
            mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Must have min {{this.minPassLength}} charecters</mat-hint>

          <mat-error
            *ngIf="password.invalid && password.touched"
            [ngSwitch]="getErrorCode(password.errors)"
          >
            <ng-container *ngSwitchCase="'required'">
              Password is required
            </ng-container>
            <ng-container *ngSwitchCase="'minlength'">
              Password should contain at least {{this.minPassLength}} chars
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Confirm password"
            formControlName="confirmPassword"
            [type]="hide ? 'password' : 'text'"
            [errorStateMatcher]="matcher"
            required="required"
          >
          <button
            mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error
            *ngIf="confirmPassword.invalid || signupForm.get('passwordGroup').hasError('notSame')"
            [ngSwitch]="getErrorCode(signupForm.get('passwordGroup').errors, confirmPassword.errors)"
          >
            <ng-container *ngSwitchCase="'required'">
              Confirm password is required
            </ng-container>
            <ng-container *ngSwitchCase="'notSame'">
              Password doesn't match confirmation
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="btn-section">
        <button
          color="primary"
          class="btn-submit"
          mat-raised-button
          [disabled]="signupForm.invalid"
          type="submit"
        >Sign Up
        </button>
        <button color="primary" class="btn-cancel" mat-stroked-button routerLink="/signin">Sign In
        </button>
      </div>
      <div class="policy-section">
        <p class="policy">By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you
          have read our <a href="#">Data Use Policy</a>, including our <a href="#">Cookie Use</a>.
        </p>
      </div>
    </form>
  </mat-card>
</div>
