@import "~src/sass/variables"

.signup-section
  margin: 20px auto
  max-width: 500px
  min-width: 200px

.signup-card
  background-color: #fff
  margin: 10px 5px

.signup-form, .passwordGroup
  display: flex
  flex-direction: column
  text-align: center

.title
  margin-bottom: 10px

.description
  margin-top: 10px
  font-weight: 400
  color: #9b9b9b
  font-size: 15px

.btn-submit
  margin: 0 10px

.policy
  font-size: 10px

@media (max-width: $layout-breakpoint-xs)
  .btn-section
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .btn-submit
    width: 100%

  .btn-cancel
    margin-top: 10px
    width: 100%

