@import '../recommendations.component'

.site-section
  display: flex
  justify-content: space-between

.link
  background-color: $linkBackground
  padding: 14px 25px
  text-align: center
  text-decoration: none
  display: inline
  align-self: center

  &:visited, &:link
    color: $linkColor

  &:hover, &:active, &:focused
    color: $hoverLinkColor
    text-decoration: underline
    background-color: $linkColor
