$linkColor: white
$linkBackground: cornflowerblue
$hoverLinkColor: red
$backgroundColor: dimgrey
$textColor: ghostwhite
$layout-breakpoint-m: 1024px
$layout-breakpoint-s: 960px
$layout-breakpoint-xs: 480px

.container
  margin: 0 auto
  padding: 20px
  max-width: 1024px
  background: $backgroundColor
  color: $textColor

.benefit
  padding: 20px

.book-sites-table
  display: flex
  justify-content: space-between

.book-list
  max-width: 50%

.site-list
  max-width: 50%

.book-section
  display: flex
  padding-bottom: 10px

.book-img
  width: 100%
  height: 100%
  justify-content: center
  min-width: 50%

.book-informations
  padding: 10px

.book-name
  margin: 0

.site-description
  padding: 10px

@media (max-width: $layout-breakpoint-s)
  .book-img
    min-width: 50%
  .book-sites-table
    display: block
  .book-list
    max-width: 100%
  .video-section
    display: block
  .video
    width: 100%
    height: 100%

@media (max-width: $layout-breakpoint-xs)
  .book-section
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  .video
    width: 100%
    height: 100%
    flex: 0 0 0
