<div class="container">
  <div class="benefit">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="book-sites-table">
    <div class="book-list">
      <app-book-item
        title="The Subtle Art of Not Giving a F*ck: A Counterintuitive
        Approach to Living a Good Life (The Subtle Art of Not Giving a F*ck (2 Book Series)"
        author="Mark Manson"
        imageSrc="assets/img/51mN3bY0JjL.jpg">
        <div class="content">
          <p class="book-description">
            In this generation-defining self-help guide, a superstar blogger cuts through the crap
            to show us how to stop trying to be "positive" all the time so that we can truly become
            better, happier people.
          </p>
          <p class="book-description">
            For decades, we’ve been told that positive thinking is the key to a happy, rich life.
            "F**k positivity," Mark Manson says. "Let’s be honest, shit is f**ked and we have to
            live with it." In his wildly popular Internet blog, Manson doesn’t sugarcoat or equivocate.
            He tells it like it is—a dose of raw, refreshing, honest truth that is sorely lacking today.
            The Subtle Art of Not Giving a F**k is his antidote to the coddling, let’s-all-feel-good
            mindset that has infected American society and spoiled a generation, rewarding them with
            gold medals just for showing up.
          </p>
        </div>
      </app-book-item>
      <app-book-item
        title="The 5 Second Rule: Transform Your Life, Work, and Confidence with Everyday Courage"
        author="Mel Robbins"
        imageSrc="assets/img/51nxI5nvEWL.jpg">
        <div class="content">
          <p class="book-description">
            Throughout your life, you've had parents, coaches, teachers, friends and mentors who have
            pushed you to be better than your excuses and bigger than your fears. What if the secret to
            having the confidence and courage to enrich your life and work is simply knowing how to push
            yourself?
          </p>
          <p class="book-description">
            Using the science of habits, riveting stories and surprising facts from some of the most
            famous moments in history, art and business, Mel Robbins will explain the power of a “push moment”.
            Then, she’ll give you one simple tool you can use to become your greatest self.
          </p>
          <p class="book-description">
            It takes just five seconds to use this tool, and every time you do, you’ll be in
            great company. More than 8 million people have watched Mel’s TEDx Talk, and executives
            inside of the world’s largest brands are using the tool to increase productivity, collaboration,
            and engagement.
          </p>
        </div>
      </app-book-item>
      <app-book-item
        title="The Miracle Morning: The Not-So-Obvious Secret Guaranteed to Transform Your Life (Before 8AM)"
        author="Hal Elrod"
        imageSrc="assets/img/41vBcNcUSWL.jpg">
        <div class="content">
          <p class="book-description">
            What's being widely regarded as "one of the most life changing books ever written" may be the
            simplest approach to achieving everything you've ever wanted, and faster than you ever thought
            possible.
          </p>
          <p class="book-description">
            What if you could wake up tomorrow and any—or EVERY—area of your life was beginning to transform?
            What would you change? The Miracle Morning is already transforming the lives of tens of thousands
            of people around the world by showing them how to wake up each day with more ENERGY, MOTIVATION,
            and FOCUS to take your life to the next level. It’s been right here in front of us all along, but
            this book has finally brought it to life.
          </p>
          <p class="book-description">
            Are you ready? The next chapter of YOUR life—the most extraordinary life you've ever imagined—is
            about to begin. Buy the book and WAKE UP to your full potential!
          </p>
        </div>
      </app-book-item>
    </div>
    <div class="sites-list">
      <app-site-item
        link ="#"
        >
        <p class="site-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </app-site-item>
      <app-site-item
        link ="#"
        >
        <p class="site-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </app-site-item>
      <app-site-item
        link ="#"
        >
        <p class="site-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </app-site-item>
    </div>
  </div>
  <div class="video-table">
    <app-video-item
      title = "Keshav Bhatt"
      videoUrl = "https://www.youtube.com/embed/-uPaSOD7Dvk"
      >
      <p class = "video-description">
        Don't Waste Your Time! Focus!
        Don't be distracted from your goals.
        This is a motivational video on the power
        of time, why it is the most important thing
        in the world and how it is always ticking.
      </p>
    </app-video-item>
    <app-video-item
      title = "Will Smith"
      videoUrl ="https://www.youtube.com/embed/ft_DXwgUXB0"
      >
      <p class="video-description">
        You cannot win the war against the world,
        if you can’t win the war against your own mind.
      </p>
      </app-video-item>
    <app-video-item
      title = "Denzel Washington"
      videoUrl = "https://www.youtube.com/embed/tbnzAVRZ9Xc"
      >
      <p class="video-description">
        Don't Waste Your Time! Focus!
        Don't be distracted from your goals.
        This is a motivational video on the power
        of time, why it is the most important thing
        in the world and how it is always ticking.
      </p>
    </app-video-item>
  </div>
</div>
