app-header
    flex: 0 0 auto

app-footer
    flex: 0 0 auto

.wrapper
    height: 100%
    display: flex
    flex-direction: column

.content
    display: flex
    flex: 1 1 100%
    flex-direction: column
