<div class="form-container">
  <h1 class="header">Sign in</h1>

  <form [formGroup]="profileForm" class="form" (ngSubmit)="login()" novalidate>
    <div class="input-element">
      <mat-form-field>
        <mat-label>Email</mat-label>

        <input type="email" name="email" matInput formControlName="email" />

        <mat-icon matSuffix>perm_identity</mat-icon>

        <mat-error
          *ngIf="email.errors"
          [ngSwitch]="getError(email.errors)"
        >
          <ng-container *ngSwitchCase="'required'">
            Email cannot be empty
          </ng-container>

          <ng-container *ngSwitchCase="'email'">
            Email format doesn't match any format
          </ng-container>

          <ng-container *ngSwitchCase="'invalid'">
            Email is invalid
          </ng-container>

          <ng-container *ngSwitchCase="'disabled'">
            This user is disabled
          </ng-container>

          <ng-container *ngSwitchCase="'notFound'">
            User not found
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-element">
      <mat-form-field>
        <mat-label>Password</mat-label>

        <input
          type="password"
          matInput
          name="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />

        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error
          *ngIf="password.errors"
          [ngSwitch]="getError(password.errors)"
        >
          <ng-container *ngSwitchCase="'required'">
            Password cannot be empty
          </ng-container>

          <ng-container *ngSwitchCase="'minlength'">
            Password should contain at
            least {{password.errors.minlength.requiredLength}} chars
          </ng-container>

          <ng-container *ngSwitchCase="'wrong'">
            Wrong password
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-element login-container">
      <button class="login" type="submit" color="primary" mat-raised-button>Login</button>
    </div>

    <div class="links">
      <a mat-button routerLink="/signup">I don't have an account</a>
      /
      <a mat-button routerLink="/restore">Forgot password</a>
    </div>
  </form>
</div>
