.form-container
  width: 500px
  padding: 50px
  background-color: #f8f9fb
  margin: 70px auto
  border-radius: 10px

.form
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 20px

.header
  text-align: center

.login
  width: 30%

.login-container
  display: flex
  justify-content: center

.input-element
  width: 100%

.links
  text-align: center
  margin-top: 10px

.mat-form-field
  width: 100%
  margin-bottom: 10px

@media only screen and (max-width: 768px)
  .form-container
    width: 90%
