<div class="book-section">
  <img class="book-img" [src]="imageSafeSrc" alt={{title}}>
  <div class="book-informations">
    <h3 class="book-name">
      {{title}}
    </h3>
    <h4 class="book-author">
      {{author}}
    </h4>

    <ng-content></ng-content>

  </div>
</div>

