<main class="main-page page-idea">
  <app-idea-item
    title="Calendar backstory"
    class="page-idea-item">
    <div class="content">
      <p>
        We tried to take a look on a simple calendar, but from another point of view.
        We wondered why we measure our life only with years? It's better to measure it with significant events.
        Precisely these are the kind of things which can really image our true life.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aliquid at autem eligendi error
        eum, facere, illo iure minima nam natus nostrum numquam obcaecati officiis repudiandae saepe sunt ut.
      </p>
    </div>
  </app-idea-item>

  <app-idea-item
    title="Benefits"
    class="page-idea-item">
    <div class="content">
      <p>
        With your personal calendar of life you can:
      </p>
      <ul>
        <li>
          capture all kinds of moments in your life
        </li>
        <li>
          recollect all your memorable experience
        </li>
        <li>
          get motivated to fill your life with new exciting things
        </li>
      </ul>
    </div>
  </app-idea-item>

  <app-idea-item
    title="Who finds it useful"
    class="page-idea-item">
    <div class="content">
      <p>
        This calendar is a need for those who want to retain every moment of life and get new achievements!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorem doloribus eum expedita fugit, hic impedit
        laudantium nemo officia officiis omnis porro quia quidem quod repellat repellendus sequi similique totam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis, error et facilis impedit inventore iste
        nulla obcaecati reiciendis sapiente sed tenetur voluptas voluptatum! A aliquid hic mollitia possimus reiciendis.
      </p>
    </div>
  </app-idea-item>
</main>
