$background: #070746
$text: #CECEF8

.page-idea
  display: flex
  justify-content: flex-start
  background-color: $background
  color: $text

  .page-idea-item
    display: block
    flex: 0 0 33.3333%
    padding: 10px

@media only screen and (max-width: 600px)
  .page-idea
    flex-direction: column
    align-items: flex-start

  .article
    width: 100%
    padding: 0 40px
