<main class="page-home main-page">
  <div class="article-box first">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, perspiciatis facere repudiandae porro,
      voluptatum neque voluptas incidunt, vitae eligendi dolorum sit numquam odio excepturi. Hic eius est
      laborum sunt vel.</p>
  </div>
  <div class="article-box second">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias debitis quos fugit quia fuga nesciunt
      explicabo porro totam excepturi quisquam incidunt odio dignissimos nemo necessitatibus dolore vero sit
      rerum maiores vel placeat eveniet, est illo? Saepe cum obcaecati non omnis?</p>
  </div>
  <div class="article-box third">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, debitis. Dignissimos harum sint eius
      explicabo, ex libero ad delectus perferendis similique quisquam necessitatibus amet magnam praesentium
      possimus soluta? Nulla error beatae, sunt repudiandae ipsam quod!</p>
  </div>
</main>
