<div class="user-wish">
  <h2 class="user-wish__title">
    Your message is very important for us.
  </h2>

  <div class="user-wish__formWrapper">
    <form
      [formGroup]="form"
      (ngSubmit)="sendMessage()"
      class="user-wish__form"
      *ngIf="!isSent"
    >
      <div class="user-wish__formItem">
        <div class="user-wish__itemTitle">
          <label for="name">Name</label>
        </div>
        <div class="user-wish__inputWrapper">
          <input
            id="name"
            class="user-wish__input"
            type="text"
            formControlName="name"
          >
        </div>
      </div>
      <div class="user-wish__formItem">
        <div class="user-wish__itemTitle">
          <label for="email">Email</label>
        </div>
        <div class="user-wish__inputWrapper">
          <input id="email" class="user-wish__input" formControlName="email" email>
        </div>
      </div>
      <div class="user-wish__formItem">
        <div class="user-wish__itemTitle">
          <label for="message">Message</label>
        </div>
        <div class="user-wish__inputWrapper">
                <textarea
                  id="message"
                  class="user-wish__input"
                  type="text"
                  formControlName="message"
                >
                 </textarea>
        </div>
      </div>
      <div class="user-wish__submit">
        <button
          class="user-wish__submitBtn"
          mat-raised-button color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    </form>

    <div class="user-wish__succes" *ngIf="isSent">
      <h3>Thank you for your message.</h3>

      <p>We will send you answer as fast as it's possible</p>

      <div class="user-wish__succesBtns">
        <button
          class="user-wish__succesBtn"
          mat-raised-button color="link"
          (click)="sendMoreMessage()"
        >
          Send more message
        </button>

        <a
          class="user-wish__succesBtn"
          mat-raised-button
          color="primary"
          routerLink="/"
        >
          To main page
        </a>
      </div>
    </div>
  </div>
</div>
