.user-wish
  max-width: 760px
  margin: 0 auto
  text-align: center

  &__formWrapper
    box-shadow: 0 0 5px grey
    border-radius: 5px
    padding: 40px

  &__form
    display: flex
    flex-direction: column

  &__formItem
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    padding: 30px

  &__inputWrapper
    flex: 2 2 40%
    justify-content: flex-start
    text-align: left
    overflow: hidden

  &__input
    font-size: 20px
    border-radius: 5px
    padding: 10px
    border: 2px solid grey
    width: 80%
    resize: vertical

    &:focus
      outline: none

  &__itemTitle
    flex: 1 1 35%
    display: flex
    align-items: center
    font-size: 25px

  &__submit
    display: flex
    justify-content: flex-end
    width: 100%

  &__submitBtn
    max-width: 250px
    padding: 5px 40px
    font-size: 20px
    font-weight: bold

  &__succesBtn
    margin: 10px 20px

@media screen and (max-width: 600px)
  .user-wish
    &__formWrapper
      padding: 20px

    &__form
      padding: 10px

    &__formItem
      flex-direction: column
      justify-content: center

    &__itemTitle
      padding-left: 20px

    &__input
      width: 100%

    &__input
      width: 100%

    &__submit
      justify-content: center

    &__submitBtn
      margin: 0
