<footer class="app-footer">
  <div class="footer-navbar">
    <nav class="navbar">
    <a [routerLink]="[ '/idea']">Idea</a>
    <a [routerLink]="[ '/wishes']">Wishes</a>
    <a [routerLink]="[ '/recommendations']">Recommendatios</a>
    </nav>
  </div>
</footer>
