.navbar
    flex-basis: 20%
    display: flex
    justify-content: space-around

.footer-navbar
    padding: 20px
    text-decoration: none
    display: flex
    justify-content: flex-end
    background-color: gray
    a:link 
        text-decoration: none
