<div class="video-section">
  <iframe
    class="video"
    width="560"
    height="315"
    [src]="videoUrlSafe"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>

  <div class="video-informations">
    <h4 class="video-name">
      {{title}}
    </h4>

    <ng-content></ng-content>
  </div>
</div>
